<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wxaaf463fd7ec8e0cb</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mxyc</string>
        </array>
        <key>CFBundleURLName</key>
        <string>mxyc</string>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>mxyc_sso_weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mxycssoweibo</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>xmxcy</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>xmxcy</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>umeng_sso_sina</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sina.500cb9fb5270153c48000079</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>from_other_open_myapplication</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>myapplication</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>mxyc_sso_tengxun</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb100276062</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>mxychi</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mxychi</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ05FA175E</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencent</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent100276062</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>wxlogin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx35af92946c4f99ff</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>alipay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>alipay2mxyc</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>wxpay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx83676d00b17e0dd3</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>uppay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>uppay2mxyc</string>
        </array>
      </dict>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>明星衣橱</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UILaunchImageFile~iphone</key>
    <string>Default.png</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>明星衣橱</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqzone</string>
      <string>sinaweibo</string>
      <string>alipayauth</string>
      <string>alipay</string>
      <string>safepay</string>
      <string>mqq</string>
      <string>mqqapi</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqapiwallet</string>
      <string>mqqwpa</string>
      <string>mqqbrowser</string>
      <string>wtloginmqq2</string>
      <string>weixin</string>
      <string>wechat</string>
      <string>uppaysdk</string>
      <string>uppaywallet</string>
      <string>uppayx1</string>
      <string>uppayx2</string>
      <string>uppayx3</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>CFBundleShortVersionString</key>
    <string>6.6.3</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15E65</string>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>7D1014</string>
    <key>CFBundleDevelopmentRegion</key>
    <array>
      <string>zh_CN</string>
      <string>en</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>impact.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>6.6.3.2</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Portrait</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>CFBundleLocalizations</key>
    <array>
      <string>zh_CN</string>
      <string>en</string>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitName</key>
          <string>Crashlytics</string>
          <key>KitInfo</key>
          <dict/>
        </dict>
      </array>
      <key>APIKey</key>
      <string>326ceb058ceef1a30b8e189b2cbf100b306a5ece</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.haobao.xmxcy</string>
    <key>CFBundleIconFiles</key>
    <array/>
    <key>DTXcode</key>
    <string>0731</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>mxyc</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
